supportedArchitectures.os[] = linux
supportedArchitectures.os[] = current
supportedArchitectures.cpu[] = x64
supportedArchitectures.cpu[] = current
supportedArchitectures.libc[] = glibc
supportedArchitectures.libc[] = current